<% include header.ejs %>

  <div class="container-fluid container">
        <div class="page-header">
          <h1><%= title %></h1>
        </div>
          <div class="row">  
            <div class="col-lg-6">
              <a href="/products/categorie/<%= back %>">
                <button type="button" class="btn btn-sm btn-danger">Voltar</button>
              </a>
            </div>
          </div>
          <p></p>
          <div class="row">  
            <% for(var i=0; i<products.length; i++) {%>
               <div class="col-md-3 col-sm-6 col-xs-6" style="text-align:center;height:200px;">
                  <!-- <a href="/products/<%=products[i].id %>"> -->
                    <img class="img-thumbnail" style="height:100px"src="<%=products[i].imagem %>">
                    <h5><%=products[i].descricao %></h5>
                    <p>
                      <span>R$ <%=products[i].preco_venda %></span>
                      <button type="button" class="dropdown btn btn-sm btn-primary">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Adicionar </a></li>
                          <li><a href="#">Adicionar 2</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </button>
                    </p>
                  <!-- </a> --> 
               </div>
            <% } %>
          </div>
          <p></p>
          <div class="row">  
            <div class="col-lg-6">
              <a href="/products/categorie/<%= back %>">
                <button type="button" class="btn btn-sm btn-danger">Voltar</button>
              </a>
            </div>
          </div>
          <p></p>

   </div>
   
<% include footer.ejs %>